{% extends 'questions/base.html' %}
{% load static %}
{% block content %}
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-12 text-center py-3">
            <h1 class="display-4">Decision making tool</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 text-center py-3">
            <h5><i class="fas fa-question-circle"></i> Add your question:</h5>
        </div>
        <div class="col-6 text-center">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="My question..." aria-label="Question">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 text-center py-3">
            <h5><i class="fas fa-plus-circle"></i> Add your options:</h5>
        </div>
        <div class="col-6 text-center">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Option 1..." aria-label="Option">
            </div>
        </div>
        <div class="col-12"></div>
        <div class="col-6 text-center">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Option 2..." aria-label="Option">
            </div>
        </div>
        <div class="col-12 text-center py-3">
            <button type="button" class="btn btn-outline-success">Add an option</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center py-3">
            <button type="button" class="btn btn-outline-success">Make a decision for me</button>
        </div>
    </div>
</div>


{% endblock %}
